
    <!-- end table responsive -->
    @if(userCostCenterDetailData.length > 0){
      <div class="table-responsive table-card mt-1 mb-1 table-height">
        <table
          class="table table-centered align-middle table-custom-effect table-nowrap mb-0"
        >
          <thead class="text-muted">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Codigo de Centro de Costo</th>
              <th  scope="col">Nombre</th>

              <th class="text-center w-25" scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            @for(userCostCenter of userCostCenterDetailData; track $index) {
            <tr>
              <td>{{$index + 1}}</td>
              <td>{{userCostCenter.costCenter?.code}}</td>
              <td>{{userCostCenter.costCenter?.name }}</td>
              <td>
                <ul class="d-flex gap-2 list-unstyled mb-0 justify-content-center">
                  <li>
                    <a
                    (click)="onDelete(userCostCenter.id!)"
                      class="btn btn-subtle-danger btn-icon btn-sm remove-item-btn"
                      ><i class="bx bx-trash"></i
                    ></a>
                  </li>
                </ul>
              </td>
            </tr>
            }
          </tbody>
        </table>
      </div>

      <div class="row mt-3 align-items-center" id="pagination-element">
        <div class="col-sm">
          <div class="text-muted text-center text-sm-start">
            Mostrando
                   <span class="fw-semibold">{{ userCostCenterDetailData.length }}</span> de
            <span class="fw-semibold">{{ userCostCenterDetailData.length }}</span>
            Resultados
          </div>
        </div>
      </div>

    }@else{
      <no-result-message></no-result-message>
    }
