<div class="modal-content">
    <div class="modal-header bg-adra p-3">
        <h5 class="modal-title text-white fw-bold" id="ModalLabel">{{title}}</h5>
        <button type="button" class="btn-close btn-close-white" title="Cerrar" (click)="activeModal.close()"
            aria-label="Cerrar">
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="formGroup">
            <div class="row gx-2">
                <div class="form-group col-md-12">
                    <label class="form-label">Nombre de usuario</label>
                   <app-search-employee (evenSearch)="userSelected($event)"></app-search-employee>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-ghost-danger" (click)="activeModal.close()"> <i
                class="bi bi-x-lg align-baseline me-1"></i> Cancelar</button>
        @if(isLoading){
        <button type="button" class="btn btn-success btn-load">
            <span class="d-flex align-items-center">
                <span class="spinner-border flex-shrink-0" role="status">
                    <span class="visually-hidden">Loading...</span>
                </span>
                <span class="flex-grow-1 ms-2"> Loading... </span>
            </span>
        </button>
        }@else {
        <button class="btn btn-sm btn-success" [disabled]="formGroup.invalid" (click)="onGuardar()">Guardar</button>
        }
    </div>
</div>
