<app-breadcrumbs title="Categoria" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<div class="card card-border m-0" style="border-end-end-radius: 0px; border-end-start-radius: 0px;">
    <div class="card-body">
        <form [formGroup]="formGroup">
            <div class="row">
                <div class="col-sm-3 mb-2">
                    <div class="input-group input-group-sm">
                        <input type="text" formControlName="value" class="form-control form-control-sm"
                            placeholder="Buscar por nombre">
                        <button class="btn btn-info" type="button" (click)="search()" [disabled]="formGroup.invalid">
                            <i class="ri-search-line search-icon m-0"></i>
                        </button>
                    </div>
                </div>
                <div class="col-sm-9 mb-2">
                    <div class="d-flex justify-content-end">
                        <button type="button" class="btn btn-sm btn-info me-1  btn-icon" (click)="typeBody(true)">
                            <i class=" ri-list-check"></i>
                        </button>
                        <button type="button" class="btn btn-sm btn-info me-1  btn-icon" (click)="typeBody(false)">
                            <i class="ri-layout-grid-line"></i>
                        </button>
                        <button type="button" class="btn btn-sm btn-success btn-round btn-icon" (click)="add()" ngbTooltip="Agregar">
                            <i class="bi bi-plus-circle align-baseline"></i>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
