<div class="modal-content">
    <div class="modal-header bg-adra p-3">
        <h5 class="modal-title text-white fw-bold" id="ModalLabel">{{title}}</h5>
        <button type="button" class="btn-close btn-close-white" title="Cerrar" (click)="activeModal.close()"
            aria-label="Cerrar">
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="formGroup" class="row gx-2">
          <div class="mb-3">
            <label for="lessons-input" class="form-label"
              >Unidad de Negocio<span class="text-danger">*</span></label
            >
            <adra-form-group [control]="formGroup.get('businessUnitId')!">
            <ng-select
              sm
              class="auto-grow"
              [clearable]="false"
              placeholder="Selecione un tipo"
              formControlName="businessUnitId"
            >
              <ng-option
                *ngFor="let b of businesstUnit"
                [value]="b.id"
                >{{ b.name }}</ng-option
              >
            </ng-select>
            </adra-form-group>
          </div>
          <div class="mb-3">
            <label for="lessons-input" class="form-label"
              >Nombre<span class="text-danger">*</span></label
            >
            <adra-form-group [control]="formGroup.get('name')!">
              <input type="text" formControlName="name" class="form-control">
            </adra-form-group>
          </div>
          <div class="mb-3">
            <label for="lessons-input" class="form-label"
              >Nombre<span class="text-danger">*</span></label
            >
            <adra-form-group [control]="formGroup.get('url')!">
              <textarea rows="6" formControlName="url" class="form-control" rows="3"></textarea>
            </adra-form-group>
          </div>
        </form>
    </div>
    <div class="modal-footer justify-content-end">
        <button type="button" class="btn btn-ghost-danger" (click)="activeModal.close()"> <i
                class="bi bi-x-lg align-baseline me-1"></i> Cerrar</button>
        @if(isLoading){
        <button type="button" class="btn btn-success btn-load">
            <span class="d-flex align-items-center">
                <span class="spinner-border flex-shrink-0" role="status">
                    <span class="visually-hidden">Loading...</span>
                </span>
                <span class="flex-grow-1 ms-2"> Loading... </span>
            </span>
        </button>
        }@else{
        <button type="button" class="btn btn-success" (click)="onGuardar()"
            [disabled]="formGroup.invalid">Guardar</button>
        }
    </div>
</div>
