// input[type="checkbox"] {
//     accent-color: #38a169;
// }
// label {
//     font-size: 14px;
//     color: #555;
// }
// th {
//     font-size: 14px;
//     font-weight: bold;
//     color: #333;
// }
// td {
//     font-size: 14px;
//     color: #555;
// }

// th, td {
//     padding: 8px 12px;
// }

// .section-title {
//     border-bottom: 2px solid #e0e0e0;
//     margin-bottom: 10px;
//     padding-bottom: 5px;
//     font-weight: bold;
// }

.modal-body {
  padding: 20px;
  background-color: #ffffff;
  color: #333;
}

.table th {
  text-align: right;
  font-weight: bold;
  color: #555;
  padding: 8px 12px;
}

.table td {
  text-align: left;
  color: #333;
  padding: 8px 12px;
}

.section-title {
  border-bottom: 2px solid #e0e0e0;
  margin-bottom: 15px;
  padding-bottom: 5px;
  font-size: 16px;
  color: #2c7a7b;
}

input[type='checkbox'] {
  accent-color: #38a169;
}
.check {
  font-size: 14px;
  color: #555;
}
