<!-- end table responsive -->
@if(countExoneratedData.content.length! > 0){
  <div class="table-responsive table-card mt-1 mb-1">
    <table
      class="table table-centered align-middle table-custom-effect table-nowrap mb-0"
    >
      <thead class="text-muted">
        <tr>
          <th scope="col">N° de Cuenta</th>
          <th scope="col">Descripción</th>
          <th scope="col">Fecha de Creación</th>
          <th class="text-center" scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        @for(countExonerated of countExoneratedData.content; track $index) {
        <tr>
          <td>{{ countExonerated.account }}</td>
          <td>{{ countExonerated.description }}</td>
          <td>{{ countExonerated.createdDate | date: 'dd/MM/yyyy'  }}</td>
          <td>
            <ul class="d-flex gap-2 list-unstyled mb-0 justify-content-center">
              <li>
                <a
                  class="btn btn-subtle-secondary btn-icon btn-sm"
                  data-edit-id="24301901"
                  (click)="onEdit(countExonerated.id!)"
                  ><i class="bx bx-pencil"></i
                ></a>
              </li>
              <li>
                <a
                class="btn btn-subtle-danger btn-icon btn-sm remove-item-btn"
                  (click)="onDelete(countExonerated.id!)"
                ><i class="bx bx-trash"></i
                ></a>
              </li>
            </ul>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>

  <ng-container *ngIf="countExoneratedData?.content">
    <div class="row align-items-center text-center text-sm-start mt-3" *ngIf="countExoneratedData?.content!.length > 0">
      <div class="col-sm">
          <div class="text-muted">
              Mostrando
              <span class="fw-semibold">{{ (10!) * (countExoneratedData.page-1) + countExoneratedData.content.length }}</span> de
              <span class="fw-semibold">{{ countExoneratedData.totalItems }}</span>
              Resultados
          </div>
      </div>
      <div class="col-sm-auto mt-3 mt-sm-0">
      </div>
      <div class="col-sm-auto mt-3 mt-sm-0">
          <pagination class="pagination-wrap hstack justify-content-center gap-2"
              [totalItems]="countExoneratedData.totalItems" (pageChanged)="pageChanged($event)"
            [maxSize]="5" [previousText]="'&lsaquo;'" [rotate]="false"
              [itemsPerPage]="10" [nextText]="'&rsaquo;'">
          </pagination>
      </div>
  </div>
  </ng-container>

  }@else{
  <no-result-message></no-result-message>
  }

  <!-- end noresult -->
